* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* ---------- COMIENZO DE HEADER ---------- */
header {
    background-color: #1A1A1A;
    color: beige;
    padding: 0;
    border-bottom: 5px solid #C5A059;
}

.logo {
    font-family: "Ephesis", cursive;
    font-size: 3.5rem;
    font-weight: bold;
}

.barra_navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9rem;
    padding-right: 18rem;
}

.barra_navegacion ul {
    display: flex;
    list-style: none;
}

.barra_navegacion ul li {
    padding: 0 2rem;
}

.barra_navegacion ul li a {
    font-family: "Cal Sans", sans-serif;
    text-decoration: none;
    color: beige;
    font-size: 1rem;
}

.barra_navegacion ul li a:hover {
    color: #C5A059;
}

/* ---------- COMIENZO DE BODY  ---------- */
body {
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

/* ---------- COMIENZO DE SECTION 1 ---------- */
.section_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.img_banner {
    width: 80%;
    height: 35%;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgb(0 0 0);
}

.home_descripcion {
    text-align: center;
    max-width: 70rem;
    margin: 3rem auto;   
}

.home_descripcion p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #1A1A1A;
}

.home_descripcion p span {
    font-style: italic;
    font-weight: 600;
}

/* ---------- COMIENZO DE SECTION 2 - CATEGORIAS ---------- */
.section_categorias {
    padding: 3rem 0 1rem;
}

h2 {
    font-family: "Cal Sans", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    color: #1A1A1A;
}

.card_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

h3 {
    font-family: "Cal Sans", sans-serif; 
    font-size: 1.1rem;
    color: #1A1A1A;
    letter-spacing: 2px;
    padding: 0.5rem 0;
    border-bottom: 1px solid #1A1A1A;
}

.card {
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgb(0 0 0);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.img_card {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card p {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    font-style: italic;
    padding: 0.4rem 0.5rem;
    max-width: 20rem;
}

/* ---------- COMIENZO DE SECTION 3 - PRODUCTOS DESTACADOS ---------- */
.section_destacados {
    padding: 8rem 1rem;
}

h2 {
    padding-bottom: 2rem;
}

.destacados_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    padding: 1.3rem 2.5rem;
    border: 2px solid #C5A059;
    border-radius: 7px;
    box-shadow: 0px 1px 4px rgb(0 0 0);
}

.destacados_container img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgb(0 0 0);
    transition: transform 0.2s;
    cursor: pointer;
}

.destacados_container img:hover {
    transform: translateY(-5px);
}

/* ---------- COMIENZO DE SECTION 4 - FORMULARIO DE CONTACTO ---------- */ 
.section_contacto {
    padding: 1rem 35% 5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgb(0 0 0);
}

.form_group {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    gap: 1rem;
}

form label {
    font-size: 1rem;
    font-weight: bold;
    width: 20%;
    text-align: end;
    color: #1A1A1A;
}

form input, textarea, select{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.4em;
    width: 70%;
}

form textarea {
    height: 7em;
    font-family:'Lato', sans-serif;
}

.form_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem auto;
}

button {
    background-color: #1A1A1A;
    color: beige;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.5em;
    width: 18%;
    cursor: pointer;
    transition: transform 0.4s;
}

button:hover {
    background-color: #C5A059;
    transform: translateY(-3px);
}

/* ---------- COMIENZO DE FOOTER ---------- */ 
footer {
    background-color: #1A1A1A;
    padding: 0.8rem 0;
}

.redes {
    font-family: "Cal Sans", sans-serif;
    text-align: center;
    font-size: 0.9rem; 
    color: beige;
}

i {
    color: beige;
    transition: transform 0.4s;
}

i:hover {
    transform: translateY(-3px);
}

.nav_footer {
    padding: 0.5rem 0;
}

.nav_footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 4rem;
}

.nav_footer ul li a {
    text-decoration: none;
    font-family: "Cal Sans", sans-serif;
    font-size: 1rem;
    color: beige;
}

.nav_footer ul li a:hover {
    color: #C5A059;
}

footer p {
    text-align: center;
    font-size: 0.7rem;
    color: beige;
}